.container {
    margin: 10px;
}

/* table part */
table, table td, table th {
    border: 1px solid black;
}

table th {
    min-width: 120px;
}

.box {
    display: inline-block;
    margin: 1px;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

/* add column part */

/* show state part */
textarea {
    min-width: 250px;
    min-height: 200px;
}